<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sichuanchili</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Query_allgoods</servlet-name>
    <servlet-class>WebServlet.Query_allgoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query_allgoods</servlet-name>
    <url-pattern>/zweb/Query_allgoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>WebServlet.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/zweb/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyRorder</servlet-name>
    <servlet-class>WebServlet.MyRorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRorder</servlet-name>
    <url-pattern>/zweb/MyRorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Findgoods</servlet-name>
    <servlet-class>WebServlet.Findgoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Findgoods</servlet-name>
    <url-pattern>/zweb/Findgoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsClass</servlet-name>
    <servlet-class>WebServlet.GoodsClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsClass</servlet-name>
    <url-pattern>/zweb/GoodsClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodsDetail</servlet-name>
    <servlet-class>WebServlet.goodsDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsDetail</servlet-name>
    <url-pattern>/zweb/goodsDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>WebServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/zweb/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>WebServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/zweb/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePsServlet</servlet-name>
    <servlet-class>WebServlet.UpdatePsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePsServlet</servlet-name>
    <url-pattern>/zweb/UpdatePsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMsServlet</servlet-name>
    <servlet-class>WebServlet.UpdateMsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMsServlet</servlet-name>
    <url-pattern>/zweb/UpdateMsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>WebServlet.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/zweb/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signout</servlet-name>
    <servlet-class>WebServlet.Signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signout</servlet-name>
    <url-pattern>/zweb/Signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>WebServlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/zweb/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewGoods</servlet-name>
    <servlet-class>WebServlet.NewGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateConsign</servlet-name>
    <url-pattern>/zweb/UpdateConsign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateConsign</servlet-name>
    <servlet-class>WebServlet.UpdateConsign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGoods</servlet-name>
    <url-pattern>/zweb/NewGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartsServlet</servlet-name>
    <servlet-class>WebServlet.CartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartsServlet</servlet-name>
    <url-pattern>/zweb/CartsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartDetele</servlet-name>
    <servlet-class>WebServlet.CartDetele</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDetele</servlet-name>
    <url-pattern>/zweb/CartDetele</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addorder</servlet-name>
    <servlet-class>WebServlet.Addorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addorder</servlet-name>
    <url-pattern>/zweb/Addorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartUpdate</servlet-name>
    <servlet-class>WebServlet.CartUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartUpdate</servlet-name>
    <url-pattern>/zweb/CartUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDetail</servlet-name>
    <servlet-class>WebServlet.OrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetail</servlet-name>
    <url-pattern>/zweb/OrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Myorder</servlet-name>
    <servlet-class>WebServlet.Myorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myorder</servlet-name>
    <url-pattern>/zweb/Myorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyOdetail</servlet-name>
    <servlet-class>WebServlet.MyOdetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOdetail</servlet-name>
    <url-pattern>/zweb/MyOdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddConsign</servlet-name>
    <servlet-class>WebServlet.AddConsign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConsign</servlet-name>
    <url-pattern>/zweb/AddConsign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGoods</servlet-name>
    <servlet-class>AdminServlet.AddGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoods</servlet-name>
    <url-pattern>/zadmin/AddGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query_allusers</servlet-name>
    <servlet-class>AdminServlet.Query_allusers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query_allusers</servlet-name>
    <url-pattern>/zadmin/Query_allusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindUser</servlet-name>
    <servlet-class>AdminServlet.FindUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUser</servlet-name>
    <url-pattern>/zadmin/FindUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userDetail</servlet-name>
    <servlet-class>AdminServlet.userDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDetail</servlet-name>
    <url-pattern>/zadmin/userDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Editroot</servlet-name>
    <servlet-class>AdminServlet.Editroot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editroot</servlet-name>
    <url-pattern>/zadmin/Editroot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>AdminServlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/zadmin/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGoods</servlet-name>
    <servlet-class>AdminServlet.DeleteGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoods</servlet-name>
    <url-pattern>/zadmin/DeleteGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Updategoods</servlet-name>
    <servlet-class>AdminServlet.Updategoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updategoods</servlet-name>
    <url-pattern>/zadmin/Updategoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query_allorders</servlet-name>
    <servlet-class>AdminServlet.Query_allorders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query_allorders</servlet-name>
    <url-pattern>/zadmin/Query_allorders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminServlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/zadmin/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSignout</servlet-name>
    <servlet-class>AdminServlet.AdminSignout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignout</servlet-name>
    <url-pattern>/zadmin/AdminSignout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Goods_list</servlet-name>
    <servlet-class>AdminServlet.Goods_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Goods_list</servlet-name>
    <url-pattern>/zadmin/Goods_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Find_goods</servlet-name>
    <servlet-class>AdminServlet.Find_goods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find_goods</servlet-name>
    <url-pattern>/zadmin/Find_goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Order_detail</servlet-name>
    <servlet-class>AdminServlet.Order_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order_detail</servlet-name>
    <url-pattern>/zadmin/Order_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Odetail</servlet-name>
    <servlet-class>AdminServlet.Odetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Odetail</servlet-name>
    <url-pattern>/zadmin/Odetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Updatestatus</servlet-name>
    <servlet-class>AdminServlet.Updatestatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatestatus</servlet-name>
    <url-pattern>/zadmin/Updatestatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindOrder</servlet-name>
    <servlet-class>AdminServlet.FindOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrder</servlet-name>
    <url-pattern>/zadmin/FindOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebData</servlet-name>
    <servlet-class>AdminServlet.WebData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebData</servlet-name>
    <url-pattern>/zadmin/WebData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpgsDetail</servlet-name>
    <servlet-class>AdminServlet.UpgsDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpgsDetail</servlet-name>
    <url-pattern>/zadmin/UpgsDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Updgoods</servlet-name>
    <servlet-class>AdminServlet.Updgoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updgoods</servlet-name>
    <url-pattern>/zadmin/Updgoods</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>AdminServlet.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
</web-app>